/* ise file me hmm general style karege jab kese template par apply create kar saku*/

h1{
    color: maroon;
}

.post{
    background-color: blanchedalmond;
}

.user{
    font-style: italic;
}